<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
     <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d [%t] %-5p %c %x - %m%n"/>
     </layout>
  </appender>
  
  <appender name="default.file.info" class="org.apache.log4j.FileAppender">
        <param name="file" value=".//src//main//java//framework//auto//logs//Application.log" />
        <param name="append" value="false" />
        <param name="threshold" value="info" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c{1}] - %m%n" />
        </layout>
    </appender>
    
    <appender name="default.file.error" class="org.apache.log4j.FileAppender">
        <param name="file" value=".//src//main//java//framework//auto//logs//Application_error.log" />
        <param name="append" value="false" />
        <param name="threshold" value="error" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c{1}] - %m%n" />
        </layout>
    </appender>
    
  <root>
    <priority value ="INFO" />
    <appender-ref ref="ConsoleAppender"/>
    <appender-ref ref="default.file.info"/>
     <appender-ref ref="default.file.error"/>
 
  </root>
</log4j:configuration>
